
body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(72, 180, 190)), to(#a8c552)) fixed;
}

.btn{
  border: none;
  background-color: rgb(128, 77, 195);
  border-radius: 20px;
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
  margin: 30px;
  color: white;
  border: 2px solid black;
}

.mymaindiv{
  display: flex;
  justify-content: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
